# a comment - this is ignored
# ignore share lib
./lib/*.so
# ignore *.swp and *.o
include/*.swp

src/*.swp

obj/*.o

bin/analysis
bin/genMassHypo
bin/calLikelihood
bin/pid
bin/nsigma

macros/AutoDict_*

figures/*.png
figures/*/*.png
figures/*/*/*.png
figures/*/*/*/*.png
figures/*.eps
figures/*/*.eps
figures/*/*/*.eps
figures/*/*/*/*.eps
